*, ::before, ::after {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Container styles */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.btn {
  display: grid;
  grid-column: 2 / 3;
  margin-top: 1em;  
}

span {
  margin-top: .5em;
  grid-column: 2 / 3;
  justify-self: center;
  font-size: .8em;  
}

.rock {
  display: flex;
  justify-content: center;
}

.paper {
  display: flex;
  justify-content: center;
}

.scissors {
  display: flex;
  justify-content: center;
}

.imgStyle {
  width: 20%;
}

.desc {
  display: grid;
  justify-content: center;
}

img:hover {
  scale: 1.2;
  cursor: pointer;
}


@media only screen and (min-width: 450px) {

  span {
    margin-top: .5em;
    grid-column: 2 / 3;
    justify-self: center;
    font-size: 1em;
  }

}


